<!DOCTYPE html>
<html>
<head>
  <title>ShelveMe</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <h1><%=link_to "Shelve.me", root_path%></h1>
    <nav>
      <%unless user_signed_in?%>
          <%=link_to "Login", new_user_session_path%>
          <%=link_to "Register", new_user_registration_path%>
        <%else%>
          <%=current_user.username%>
          <%= link_to "Logout", destroy_user_session_path %>
      <%end%>
      </nav>
  </header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
